{% load staticfiles %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{% csrf_token %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    </head>
    <body ng-app="todomvc">
         <ng-view/>

        <script type="text/ng-template" id="todomvc-index.html">
        <section id="todoapp">
            <select name="TodoSelect"  ng-model="SelectTodo" class="TodoSelect form-control input-sm" ng-change = "listChange()"
                >
                <option style="display:none" value="">Select List</option>
                <option selected value="0" >
                    -- Create List --
                </option>
                <option ng-repeat="lt in list" value="{$ lt.id $}">
                    {$ lt.name $}
                </option>
            </select>
                <header id="header">
                    <h1>todos</h1>
                    <form id="todo-form" ng-submit="addTodo()">
                        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
                    </form>
                    
                </header>
                
                <section id="main" ng-show="todos.length" ng-cloak>
                    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                    <label for="toggle-all">Mark all as complete</label>
                    <div ng-repeat="(key, value) in list">
                    <label class="list-name" id="list-name" >{$ value['name'] $}</label>
                    <ul id="todo-list">
                        <div ng-repeat="todo in todos | filter:statusFilter track by $index" >
                            <li  ng-if="value['id'] == todo.list" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                                <div ng-if="value['id'] == todo.list" class="view">
                                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                                    <label ng-dblclick="editTodo(todo)">{$ todo.title $}</label>
                                    <button class="destroy" ng-click="removeTodo(todo)"></button>
                                </div>
                                <form ng-submit="saveEdits(todo, 'submit')">
                                    <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')"
                                           todo-focus="todo == editedTodo">
                                </form>
                            </li>
                        </div>
                    </ul>
                    <div>
                </section>
                <footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{$ remainingCount $}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
                    <ul id="filters">
                        <li>
                            <a ng-class="{selected: status == ''} " ng-click="selectAll('')">All</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'active'}" ng-click="selectAll('active')">Active</a>
                        </li>
                        <li>
                            <a ng-class="{selected: status == 'completed'}" ng-click="selectAll('completed')">Completed</a>
                        </li>
                    </ul>
                    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
                </footer>
            </section>
            <footer id="info">
                <p>Double-click to edit a todo</p>
                <p>Credits:
                    <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
                    <a href="http://ericbidelman.com">Eric Bidelman</a>,
                    <a href="http://jacobmumm.com">Jacob Mumm</a> and
                    <a href="http://blog.igorminar.com">Igor Minar</a>
                </p>
                <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
            </footer>
     </script>
        <script src="{% static 'js/lib/angular/angular.js' %}"></script>
        <script src="{% static 'js/lib/angular-route/angular-route.js' %}"></script>
        <script src="{% static 'js/lib/angular-resource/angular-resource.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/controllers/todoCtrl.js' %}"></script>
        <script src="{% static 'js/services/todoStorage.js' %}"></script>
        <script src="{% static 'js/directives/todoFocus.js' %}"></script>
        <script src="{% static 'js/directives/todoEscape.js' %}"></script>
    </body>
</html>
